aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
boto3==1.17.69
certifi==2020.12.5
chardet==4.0.0
discord-py-slash-command==1.1.2
discord.py==1.7.1
idna==2.5
multidict==5.1.0
requests==2.25.1
typing-extensions==3.7.4.3